h1{
  margin: 0;
}

.board{
  background-color: #f7f7f5;
}

.header{
  text-align: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category {
  flex-grow: 1;
}

.question{
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
  border-right: 30px solid #11a34e;
  box-shadow: 5px 5px #e7e0e0 ;
}

.status{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 5px 0 5px;
}

.success{
  background-color: #4fd487;
}

.pending{
  background-color: #f1f10e;
}

.partial{
  background-color: #f7f7f5;
}

.terminated{
  background-color: #f22c09;
}